In [1]:
from scipy.optimize import fmin
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
from workadays import workdays as wd

path = r"C:\Users\Alysson\Documents\GitHub\Monetary-Shocks\Brasil\ETTJ\Base_LTN.xlsx"
df = pd.read_excel(path)
df.head()

  CODIGO DATA_REFERENCIA DATA_VENCIMENTO  EXPECTATIVA          PU
0    LTN      2023-07-03      2023-10-01      13.2025  968.996662
1    LTN      2023-07-03      2024-01-01      12.7468  942.225059
2    LTN      2023-07-03      2024-04-01      12.1642  918.761537
3    LTN      2023-07-03      2024-07-01      11.5298  897.786879
4    LTN      2023-07-03      2024-10-01      11.0232  877.471104

In [2]:
df["Maturity"] = df.apply(lambda row: wd.networkdays(row["DATA_REFERENCIA"], row["DATA_VENCIMENTO"]), axis=1)/252

In [3]:
df.set_index("DATA_REFERENCIA", inplace=True)

In [5]:
data = {}
initial = [0.11, 0.02, 0.09, -0.11, 2.5, 1.2]
for date, group in df.groupby("DATA_REFERENCIA"):

    def myval(c):
        df['NSS'] =(c[0])+(c[1]*((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))+(c[2]*((((1-np.exp(-df['Maturity']*c[4]))/(df['Maturity']*c[4])))-(np.exp(-df['Maturity']*c[4]))))+(c[3]*((((1-np.exp(-df['Maturity']*c[5]))/(df['Maturity']*c[5])))-(np.exp(-df['Maturity']*c[5]))))
        #discount = []
        #for index, row in df.iterrows():
            #discount.append((row['Coupon']/(1+df['NSS'])**df['Maturity'])[0:index+1].sum())
        #df['Discount'] = discount
        df['Calculated_price'] = 1000 / (1 + df['NSS']) ** df['Maturity'] #+ df['Discount']  
        df['Residual'] =  (df['PU'] - df['Calculated_price'])**2
        val = np.sum(df['Residual'])
        #print("[b1, b2, b3, b4, lda1, lda2]=",c,", SUM:", val)
        return(val)
    max_evaluations = 5000    
    c = fmin(myval, initial,maxfun=max_evaluations)    
    initial = c
    data[f"{date}"] = c
    sol = pd.DataFrame(data)

Optimization terminated successfully.
         Current function value: 316.253933
         Iterations: 453
         Function evaluations: 716
Optimization terminated successfully.
         Current function value: 316.250727
         Iterations: 192
         Function evaluations: 321
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 1581
         Function evaluations: 2386
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 115
         Function evaluations: 210
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199
Optimization terminated successfully.
         Current function value: 314.639660
         Iterations: 108
         Function evaluations: 199

In [6]:
sol

,2023-07-03 00:00:00,2023-07-04 00:00:00,2023-07-05 00:00:00,2023-07-06 00:00:00,2023-07-07 00:00:00,2023-07-10 00:00:00,2023-07-11 00:00:00,2023-07-12 00:00:00,2023-07-13 00:00:00,2023-07-14 00:00:00,...,2023-07-18 00:00:00,2023-07-19 00:00:00,2023-07-20 00:00:00,2023-07-21 00:00:00,2023-07-24 00:00:00,2023-07-25 00:00:00,2023-07-26 00:00:00,2023-07-27 00:00:00,2023-07-28 00:00:00,2023-07-31 00:00:00
0,0.120229,0.120364,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,...,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208,0.129208
1,0.020239,0.020243,0.005793,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794,...,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794,0.005794
2,0.076712,0.075842,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,...,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620,0.039620
3,-0.133191,-0.133063,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,...,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596,-0.105596
4,2.007348,1.999870,3.811814,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737,...,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737,3.811737
5,1.140559,1.135440,0.798337,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341,...,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341,0.798341

In [7]:
df

,CODIGO,DATA_VENCIMENTO,EXPECTATIVA,PU,Maturity,NSS,Calculated_price,Residual
DATA_REFERENCIA,,,,,,,,
2023-07-03,LTN,2023-10-01,13.2025,968.996662,0.250000,0.133975,969.056615,0.003594
2023-07-03,LTN,2024-01-01,12.7468,942.225059,0.492063,0.127606,942.617077,0.153678
2023-07-03,LTN,2024-04-01,12.1642,918.761537,0.738095,0.120791,919.276453,0.265139
2023-07-03,LTN,2024-07-01,11.5298,897.786879,0.988095,0.115011,898.015354,0.052201
2023-07-03,LTN,2024-10-01,11.0232,877.471104,1.250000,0.110440,877.265440,0.042298
...,...,...,...,...,...,...,...,...
2023-07-31,LTN,2025-07-01,10.3140,829.143358,1.908730,0.104227,827.586677,2.423255
2023-07-31,LTN,2025-10-01,10.2404,809.270339,2.170635,0.103187,808.023548,1.554488
2023-07-31,LTN,2026-01-01,10.1640,790.503130,2.424603,0.102679,789.001857,2.253821
2023-07-31,LTN,2026-07-01,10.2070,753.455117,2.912698,0.102648,752.305884,1.320736
2023-07-31,LTN,2027-07-01,10.4388,678.342445,3.908730,0.104571,677.904146,0.192106